repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.5
    hooks:
      - id: ruff-check
      - id: ruff-format

  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.403
    hooks:
    - id: pyright

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: pretty-format-json
        files: \.(json)$
        args: [ "--autofix", "--indent", "4", "--no-sort-keys", "--no-ensure-ascii"]
      - id: check-yaml
        files: \.(yml|yaml)$